@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --azul-principal: #75a1b6;
  --laranja: #f9732c;
  --preto: #333;

  --sombra: #00000047;

  --fonte: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--fonte);
  box-sizing: border-box;
}

header {
  background-color: var(--azul-principal);
  padding: 2vw;
  display: flex;
  justify-content: end;
  align-items: center;
}

nav {
  width: 650px;
  max-width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5vw;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

nav #login {
  background-color: #f9732c;
  width: 10vw;
  padding: 8px;
  text-align: center;
  text-decoration: none;

  border-radius: 30px;
  box-shadow: 1px 0px 3px var(--sombra);
}

#container-inicio {
  min-height: 420px;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--azul-principal);
  color: white;

  transition: height 0.6s;
}

#apresentacao {
  padding: 0px 60px;
  min-width: 500px;
  font-size: 1.3vw;
}

#apresentacao h1 {
  font-weight: bold;
  text-shadow: 0px 0px 2px var(--sombra);
}

.descricao {
  font-size: 0.9em;
  font-weight: 200;
}

#botoes {
  width: 65%;
  padding-top: 10px;
  display: flex;
  gap: 20px;
}

#botoes a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 12vw;
  padding: 8px;

  border-radius: 30px;
}
#botoes #buy {
  background-color: var(--laranja);
  box-shadow: 1px 0px 3px var(--sombra);
}
#botoes #read_more {
  background-color: transparent;
  border: 1px solid #ffffff70;
}

#container-imagem img {
  position: absolute;
  width: 430px;
  right: 40px;
  top: 130px;

  transition: width 0.6s;
}

#produtos {
  padding: 9vw 6vh;
}

#container-categoria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3vw;
}

#container-categoria h3 {
  font-size: 2.2vw;
}

#container-categoria  #categoria {
  width: 45vw;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#container-categoria a{
  text-decoration: none;
  color: var(--preto);
}

#container-categoria a:hover{
  color: var(--laranja);
}

#container-categoria #pop{
  color: var(--laranja);
}

@media screen and (min-width: 992px) {
  nav {
    font-size: 1em;
  }

  #container-inicio {
    height: 65vh;
  }

  #apresentacao{
    font-size: 1em;
  }
  
  #container-imagem img {
    width: 40vw;
    max-width: 500px;
    right: 8%;
  }

  #container-categoria{
    font-size: 1em;
  }

  #container-categoria h3{
    font-size: 1.5em;
  }
}
