@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --preto-fundo: #1b191a;
  --cinza: #302d2e;

  --fonte-principal: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--preto-fundo);
}
