:root {
  --azul-principal: #75a1b6;
  --laranja: #f9732c;
  --preto: #333;

  --sombra: #00000047;

  --fonte: "Poppins", sans-serif;
}

/*Telas menores de 768*/
/* Media query para telas menores que 769px */
@media screen and (max-width: 769px) {
  menu {
    display: block;
  }

  menu span {
    cursor: pointer;
    font-size: 30px;
    color: white;
  }

  nav {
    display: none;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: var(--azul-principal);
    padding: 20px 0;
    z-index: 1000;
  }

  nav a {
    font-size: 16px;
    padding: 12px 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  nav #login {
    width: 200px;
    margin: 10px auto;
    display: inline-block;
  }

  #home {
    flex-direction: column;
    height: 550px;
    padding: 30px 20px;
  }

  #apresentacao {
    min-width: auto;
    padding: 20px;
    font-size: 0.8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  #apresentacao{
    font-size: 0.6em;
  }

  #botoes {
    width: 100%;
    justify-content: center;
  }

  #botoes a {
    width: 130px;
    font-size: 14px;
  }

  #container-imagem img {
    position: relative;
    width: 300px;
    right: auto;
    top: auto;
    margin: 10px auto;
  }

  #produtos {
    padding: 4vw 5vh;
  }

  #container-categoria {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 2.5vw;
  }

  #container-categoria h3 {
    font-weight: 600;
    font-size: 3.5vw;
  }

  #container-categoria #categoria {
    width: 80vw;
  }

  #container-produtos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #container-produtos #um {
    background-color: #fee7da;
    grid-row: 1/ 2;
    grid-column: 1 / -1;
  }

  #container-produtos #dois {
    background-color: #dce7f6;
    grid-row: 2/ 3;
    grid-column: 1 / -2;
  }

  #container-produtos #tres {
    background-color: #e9e9e7;
    grid-row: 3/ -1;
    grid-column: 1 / -1;
  }

  #container-produtos .item {
    padding: 5vw;
  }

  #container-produtos .exposicao-produto img {
    display: block;
    margin: auto;
    width: 70%;
  }

  #container-produtos .descricao-produto {
    font-size: 0.8em;
  }

  #container-produtos .descricao-produto h3 {
    font-weight: bold;
    font-size: 1.3em;
  }

  .descricao-produto .preco {
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .descricao-produto .preco .atual {
    font-size: 1em;
  }

  .descricao-produto .preco s {
    color: #000000cc;
  }
}
/*Telas maiores de 992px*/
@media screen and (min-width: 992px) {
  nav {
    font-size: 0.9em;
  }

  nav #login {
    width: 8vw;
  }

  #home {
    height: 65vh;
  }

  #apresentacao {
    font-size: 0.9em;
  }

  #container-imagem img {
    width: 40vw;
    max-width: 500px;
    right: 8%;
  }

  #container-categoria {
    font-size: 1em;
  }

  #container-categoria h3 {
    font-size: 1.5em;
  }
}
