@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --azul-principal: #75a1b6;
  --laranja: #f9732c;
  --preto: #333;

  --sombra: #00000047;

  --fonte: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--fonte);
  box-sizing: border-box;
}

header {
  background-color: var(--azul-principal);
  padding: 2vw;
  display: flex;
  justify-content: end;
  align-items: center;
  /*position: sticky;
  top: 0;
  z-index: 1;*/
}

menu{
  display: none;
}

nav {
  width: 650px; 
  max-width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5vw;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

nav #login {
  background-color: #f9732c;
  width: 10vw;
  padding: 8px;
  text-align: center;
  text-decoration: none;

  border-radius: 30px;
  box-shadow: 1px 0px 3px var(--sombra);
}

nav #login:hover {
  transition: 0.3s;
  transform: scale(1.03);
}

#home {
  min-height: 420px;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--azul-principal);
  color: white;

  transition: height 0.6s;
}

#apresentacao {
  min-width:500px ;
  padding: 0px 60px;
  font-size: 1.3vw;
}

#apresentacao h1 {
  font-weight: bold;
  text-shadow: 0px 0px 2px var(--sombra);
}

.descricao {
  font-size: 0.9em;
  font-weight: 200;
}

#botoes {
  width: 65%;
  padding-top: 10px;
  display: flex;
  gap: 20px;
}

#botoes a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 12vw;
  padding: 8px;

  border-radius: 30px;
  transition: 0.3s;
}

#botoes a:hover {
  transform: scale(1.03);
}
#botoes #buy {
  background-color: var(--laranja);
  box-shadow: 1px 0px 3px var(--sombra);
}
#botoes #read-more {
  background-color: transparent;
  border: 1px solid #ffffff70;
}

#container-imagem img {
  position: absolute;
  width: 430px;
  right: 40px;
  top: 130px;

  transition: width 0.6s;
  filter: drop-shadow(-5px 5px 6px var(--sombra));
}

#produtos {
  padding: 9vw 6vh;
}

#container-categoria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3vw;
}

#container-categoria h3 {
  font-weight: 600;
  font-size: 2.4vw;
}

#container-categoria #categoria {
  width: 45vw;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#container-categoria a {
  text-decoration: none;
  color: var(--preto);
}

#container-categoria a:hover {
  color: var(--laranja);
  text-decoration: underline;
}

#container-categoria #pop {
  cursor: context-menu;
  color: var(--laranja);
  text-decoration: none;
}

#container-produtos{
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 25px;
}

#container-produtos #um{
  background-color: #FEE7DA;
  grid-row: 1/ -1;
  grid-column: 1 / 2;
}

#container-produtos #dois{
  background-color: #DCE7F6;
  grid-row: 1/ -1;
  grid-column: 2 / 3;
}

#container-produtos #tres{
  background-color: #E9E9E7;
  grid-row: 1/ -1;
  grid-column: 3 / -1;
}


#container-produtos .item{
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container-produtos .exposicao-produto{
  height: 50%;
}

#container-produtos .exposicao-produto img{
  width: 100%;
  filter: drop-shadow(-3px 3px 7px var(--sombra));
}

#container-produtos .descricao-produto{
  font-size: 0.9vw;
}

#container-produtos .descricao-produto h3{
  font-weight: bold;
  font-size: 1.6vw;
}

.descricao-produto .preco{
  width: 23%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descricao-produto .preco .atual{
  font-weight: bolder;
  font-size: 1.4em;
}

.descricao-produto .preco s{
  color: #000000cc;
  text-decoration-color: #8b0000aa;
}

