body {
  margin: 0;
  background-image: linear-gradient(#1ed760, #000);
  color: white;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 1.1em;
  margin: 0px 0px 8vh 0px;
}

#capa {
  min-width: 270px;
  width: 60vw;
  max-width: 450px;
}

#song-name {
  font-size: 1.5em;
  font-weight: bolder;
}

#band-name {
  font-size: 0.9em;
  color: #ffffffa8;
}

#like {
  color: #ffffffa8;
}

.progress-container {
  padding: 5px 0px;
  cursor: pointer;
}

#barra {
  background-color: #ffffffa8;
  height: 3px;
  width: 100%;
  border-radius: 15px;
}

#progresso {
  --progress: 0%;
  background-color: white;
  height: inherit /* Herda do "pai" 3px */;
  width: var(--progress);
  border-radius: inherit /* 15px */;
}

.time-box {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

#abaixo-capa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px 15px 0px;
}

#button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*  margin-bottom: 3.5vh; */
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.botao-ativado {
  color: #1ed760;
}

.button {
  font-size: 1.7em;
}

#anterior,
#proximo {
  font-size: 3em;
}
#play {
  font-size: 4em;
}
